@using CRMSystem.ViewModels;
@using System.Text.Json;
@{
    using var fs = new FileStream("./wwwroot/files/default.json", FileMode.Open);
    var FieldValuesVM = JsonSerializer.Deserialize<FieldValuesViewModel>(fs);
    ViewData["Title"] = FieldValuesVM?.ProjectMenuItemName ?? "Блог";
    var isInRole = User.IsInRole("admin");
}
@model Blog

<main class="container">
    <div asp-validation-summary="All">
        <form method="post" asp-controller="Blogs" asp-action="Update">
            <input hidden name="id" value="@Model.Id" />
            <label>Заголовок:</label>
            <input type="text" name="name" value="@Model.Name" requied />
            <label>Содержание поста:</label>
            <input type="text" name="description" value="@Model.Description" requied />
            <label>Добавить фото:</label>
            <input type="file" name="photo" accept="image/png, image/jpeg, image/svg" value="Добавить фото" />
            <input type="submit" value="Сохранить" />
        </form>
    </div>
</main>
