@using CRMSystem.Authentication
@model LoginModel

<main class="container">
    <div>
        <h2>Введите логин и пароль:</h2>
        <form asp-controller="admin" asp-action="login" method="post">
            <label asp-for="Login">Логин: </label>
            <input id="Login" type="text" name="UserName"/>
            <span asp-validation-for="Login"/>
            <label asp-for="Password">Пароль: </label>
            <input id="Password" type="password" name="Password"/>
            <span asp-validation-for="Password"/>
            <input type="submit" value="Войти"/>
        </form>
    </div>
</main>
