<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CRMSystem</title>
    <link rel="stylesheet" href="~/css/normalize.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    <header>
        <div class="header">
            <nav>
                <ul class="nav">
                    <li><a href="/Home/Index">Главная</a></li>
                    <li><a href="/Services/Index">Услуги</a></li>
                    <li><a href="/Projects/Index">Проекты</a></li>
                    <li><a href="/Blog/Index">Блог</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="/Contacts/Index">Контакты</a></li>
                </ul>
            </nav>
            <h1 class="slogan">Расширяем возможности</h1>
        </div>        
    </header>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="footer"></div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
