@using CRMSystem.ViewModels
@model LoginViewModel
@{
    ViewData["Title"]="Вход в систему";
}

<main class="container">
    <div asp-validation-summary="All">
        <h2>@ViewData["Title"]</h2>
        <form method="post" asp-controller="Account" asp-action="LogIn">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl"/>
            <label asp-for="UserName">Имя: </label>
            <input id="UserName" type="text" name="UserName" />
            <span asp-validation-for="UserName" />
            <label asp-for="Email">Email: </label>
            <input id="Email" type="email" name="Email" />
            <span asp-validation-for="Email" />
            <label asp-for="Password">Пароль: </label>
            <input id="Password" type="password" name="Password" />
            <span asp-validation-for="Password" />
            <input type="submit" value="Войти" />
        </form>
    </div>
</main>
