@{
    ViewData["Title"] = "Главная";
}

<div>
    <p class="greeting-for-form">Оставить заявку или задать вопрос</p>
    <form action="/Home/SendOrder" method="post" class="order-form">
        <div class="wrapper input1-wrapper">
            <label class="label" for="name">Имя: </label>
            <input class="input" type="text" name="name" id="name" maxlength="50" required />
        </div>
        <div class="wrapper input2-wrapper">
            <label class="label" for="email" class="label">Email: </label>
            <input class="input" type="email" name="email" id="email" required />
        </div>
        <div class="wrapper comment-wrapper">
            <label class="label" for="message" class="label">Текст сообщения: </label>
            <input class="input" type="text" name="message" id="message" maxlength="150" required />
        </div>
        <div class="wrapper btn-wrapper">
            <input class="btn" type="submit" value="Отправить" />
        </div>
    </form>
</div>
