@using CRMSystem.ViewModels;
@using System.Text.Json;
@using CRMSystem.Models

@{
    using var fs = new FileStream("./wwwroot/files/default.json", FileMode.Open);
    var FieldValuesVM = JsonSerializer.Deserialize<FieldValuesViewModel>(fs);
    ViewData["Title"] = FieldValuesVM?.ProjectMenuItemName ?? "Проекты";
    var isInRole = User.IsInRole("admin");
}

<main class="container">
    <div asp-validation-summary="All">
        <form method="post" asp-controller="Projects" asp-action="Add">
            <label>Название проекта:</label>
            <input type="text" name="name" requied/>
            <label>Описание проекта:</label>
            <input type="text" name="description" requied />
            <label>Добавить фото:</label> 
            <input type="file" name="photo" accept="image/png, image/jpeg, image/svg" value="Добавить фото" />
            <input type="submit" value="Сохранить"/>   
        </form>
    </div>
</main>
