@using CRMSystem.ViewModels;
@using System.Text.Json;
@{
    using var fs = new FileStream("./wwwroot/files/default.json", FileMode.Open);
    var FieldValuesVM = JsonSerializer.Deserialize<FieldValuesViewModel>(fs);
    ViewData["Title"] = FieldValuesVM?.ProjectMenuItemName ?? "Проекты";
}

<main class="container">
    <div class="container-title">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="separator-line"></div>
    <section class="cards-block">
        <article class="project-card">            
            <img class="project-img" src="../img/card1.png" alt="project card1"/>
            <a href="ProjectDescription" target="_self">           
                <p class="project-title">Обработка кредитных заявок</p>
            </a>
        </article>
        <article class="project-card">
            <img class="project-img" src="../img/card2.png" alt="project card2"/>
            <a href="ProjectDescription" target="_self">
                <p class="project-title">Управление кадрами</p>
            </a>
        </article>
        <article class="project-card">
            <img class="project-img" src="../img/card3.png" alt="project card3"/>
            <a href="ProjectDescription" target="_self">
                <p class="project-title">Доработка CRM</p>
            </a>
        </article>
    </section>
</main>


