@using CRMSystem.ViewModels;
@using System.Text.Json;
@{
    using var fs = new FileStream("./wwwroot/files/default.json", FileMode.Open);
    var FieldValuesVM = JsonSerializer.Deserialize<FieldValuesViewModel>(fs);
    ViewData["Title"] = FieldValuesVM?.ProjectMenuItemName ?? "Проекты";
    var isInRole = User.IsInRole("admin");
}
@model IEnumerable<Project>

<main class="container">
    <div class="container-title">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="separator-line"></div>
    <section class="cards-block">
        @foreach(var project in Model)
        {
            <div class="card-container">
                <article class="project-card">
                    <img class="project-img" src="../img/@project.Photo" alt="project card" />
                    <a class="project-title" href="ProjectDescription" target="_self">
                        <p>@project.Name</p>
                    </a>
                </article>
                @if (isInRole)
                {
                    <div>
                        <form class="icons-block" method="post" asp-controller="Projects" asp-action="Delete" asp-route-id="@project.Id">
                            <a class="icon-btn" href="/Projects/Update/@project.Id">
                                <img src="~/img/icon-edit-btn.png" alt="edit button"/>
                            </a>
                            <input class="icon-btn delete-icon-btn" type="image" alt="delete button"
                                   src="~/img/icon-delete-btn.png" />
                        </form>
                    </div>
                }
            </div>
        }
    </section>
    @if (isInRole)
    {
        <div class="edit-wrapper">
            <a class="btn" href="/Projects/Add">Добавить проект</a>
        </div>
    }
</main>


