@{
    ViewData["Title"] = "Описание проекта";
}

<main class="container">
    <div class="container-title">
        <div>
            <h2>Обработка кредитных заявок</h2>
        </div>
        <div>
            <img class="container-title logo" src="../img/card1.png" alt="project card1" />
        </div>
    </div>    
    <div class="separator-line"></div>
    <section class="description-block">
        <article class="article">
            Article text is here Article text is here Article text is hereArticle text is hereArticle text is here
            Article text is hereArticle text is hereArticle text is hereArticle text
        </article>
    </section>
</main>
