html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --container-offset: 100px;
  --main-color: dodgerblue;
  --border-color: gray;
  --back-color: lightgray;
  --decorate-font-color: white;
  --main-font-color: #112223;
  --cards-gap: 10px;
  --project-cards-in-row: 3;
  --blog-cards-in-row: 4;
}

/*header*/
.header{
  width: 100%;
  height: auto;
  background-color: var(--main-color);
  color: var(--decorate-font-color);
}

/*navigation panel*/
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
}

.nav a {
  width: auto;
  display: block;
  margin-top: 30px;
  padding-right: 30px;
  color: var(--decorate-font-color);
  text-decoration: none;
}

.slogan{
  padding: 30px;
  text-align: right;
  text-transform: uppercase;
}

/*footer*/
.footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 15px;
  background-color: var(--main-color);
}

/*main page with the form*/
.order-form{
  display: grid;
  grid-template-columns: var(--container-offset) 1fr 50px 1fr var(--container-offset);
  grid-template-rows: 4em 10px 6em 10px 3em;
  width: auto;
}

.greeting-for-form {
  text-align: left;
  font-weight: bold;
  color: var(--main-color);
  margin: 30px;
  margin-left: var(--container-offset);
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.input1-wrapper {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.input2-wrapper {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.comment-wrapper {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  height: 100%;
}

.btn-wrapper {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  align-items: center;
}

.label{
  color:gray;
  font-size: small;
  padding: 5px;
}

.input {  
  display: block;
  background-color: var(--back-color);
  height: 100%;
}

.btn{
  width: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: var(--decorate-font-color);
  align-content: center;
}

/*projects page with cards of projects*/
.container{
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: auto;
  height: auto;
}

.container-title {
  width: inherit;
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-height: 3em;
}

.separator-line{
  background-color: var(--back-color);
  width: 100%;
  height: 5px;
  margin-bottom: 20px;
}

.cards-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: auto;
  gap: var(--cards-gap);
}

.project-card {
  width: calc((100% - (var(--project-cards-in-row) - 1) * var(--cards-gap)) / var(--project-cards-in-row));
  height: auto;
  border: 1px solid var(--border-color);
  text-align: center;
}

.project-img {
  height: calc(100% - 3em);
  width: 100%;
}

.project-title {
  padding: 10px;
  color: var(--main-font-color);
  background-color: var(--back-color);
  vertical-align: central;
  margin-bottom: 0px;
}


/*project description page*/
.article{
  color: var(--main-font-color);
  text-align: justify;
  padding: 10px;
}

.container-title .logo {
  width: auto;
  max-height: 3em;
  object-fit: contain;
}

/*services page with details*/
.description-block{
  width: calc(100% - 110px);
  height: 100%;
  margin-bottom: 20px;
}

.detailes{
  width: calc(100% - 100px);
  height: auto;
  background-color: var(--main-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

.detailes > summary {
  padding: 10px;
  color: var(--decorate-font-color);
  font-weight: bold;
  text-align: left;
}

.detailes[open] {
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 5px;
}

.detailes[open] > summary {
  color: var(--main-color);
}

.detailes[open] > p{
  padding-left: 20px;
}


