@{
}

<main class="container">
    <div class="container-title">
        <h2>Блог</h2>
    </div>    
    <div class="separator-line"></div>
    <section class="cards-block">
        <article class="blog-card">
            <p>
                <time class="article" datetime="2020-04-05">20 апреля 2020 г.</time>
            </p>
            <a href="/Blog/ArticleDescription">
                <img src="/img/blog-1.png" alt="blog-1 photo" class="blog">
            </a>
            <div class="article">
                <h5 class="blog-text blog-card-title">Производственная безопасность</h5>
                <p class="blog-text">Текст карточки по производственной безопасности по решения автоматизации</p>
            </div>
        </article>
        <article class="blog-card">
            <p>
                <time class="article" datetime="2020-04-05">20 апреля 2020 г.</time>
            </p>
            <a href="/Blog/ArticleDescription">
                <img src="/img/blog-2.png" alt="blog-2 photo" class="blog">
            </a>
            <div class="article blog-text">
                <h5 class="blog-text blog-card-title">Производственная безопасность</h5>
                <p class="blog-text">Текст карточки по производственной безопасности по решения автоматизации</p>
            </div>
        </article>
        <article class="blog-card">
            <p>
                <time class="article" datetime="2020-04-05">20 апреля 2020 г.</time>
            </p>
            <a href="/Blog/ArticleDescription">
                <img src="/img/blog-3.png" alt="blog-3 photo" class="blog">
            </a>
            <div class="article blog-text">
                <h5 class="blog-text blog-card-title">Производственная безопасность</h5>
                <p>Текст карточки по производственной безопасности по решения автоматизации</p>
            </div>
        </article>
        <article class="blog-card">
            <p>
                <time class="article" datetime="2020-04-05">20 апреля 2020 г.</time>
            </p>
            <a href="/Blog/ArticleDescription">
                <img src="/img/blog-4.png" alt="blog-4 photo" class="blog">
            </a>
            <div class="article">
                <h5 class="blog-text blog-card-title">Производственная безопасность</h5>
                <p class="blog-text">Текст карточки по производственной безопасности по решения автоматизации</p>
            </div>
        </article>
    </section>
</main>
