
@{
}

<main class="container">
    <div class="container-title">
        <h2>
            Контакты
        </h2>
    </div>
    <div class="separator-line"></div>
    <section class="contacts-container">
        <div class="contacts-block">
            <div>
                <address>168985, г. Москва, ул. Тимирязева, 12</address>
                <p>
                    Телефон: <a href="tel:+79893452200">+7 989 345 22 00</a>
                </p>
                <p>
                    Факс: <a href="fax:+79893452200">+7 989 345 22 00</a>
                </p>
                <p>
                    e-mail: <a href="mailto: sviridovairis@gmail.com">sviridovairis@gmail.com</a>
                </p>
                <p>ФИО директора</p>
            </div>
            <nav class="nav nav-left-bottom">
                <a href="https://telegram.org/" target="_blank">
                    <img src="/img/icons8-телеграмма-app.svg" alt="Telegramm Icon">
                </a>
                <a href="https://www.whatsapp.com" target="_blank">
                    <img src="/img/icons8-whatsapp.svg" alt="WhatsApp Icon">
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <img src="/img/icons8-youtube.svg" alt="YouTube Icon">
                </a>
                <a href="https://www.vk.com" target="_blank">
                    <img src="/img/icons8-логотип-вконтакте.svg" alt="Вконтакте Icon">
                </a>
            </nav>
        </div>
        <div>
            <img class="map" src="/img/map.png" alt="map"/>
        </div>
    </section>
</main>