@{
    ViewData["Title"] = "Услуги";
}

<main class="container">
    <div class="container-title">
        <h2 class="container-title">Что мы можем сделать</h2>
    </div>    
    <div class="separator-line"></div>
    <section class="description-block">
        <details>
            <summary>Импортозамещение</summary>
            <p class="article">Текст по импортозамещению</p>
        </details>
        <details>
            <summary>Аналитика</summary>
            <p class="article">Текст по аналитике</p>
        </details>
    </section>
</main>
