@using System.Text.Json;
@using CRMSystem.ViewModels;
@{
    using var fs = new FileStream("./wwwroot/files/default.json", FileMode.Open);
    var FieldValuesVM = JsonSerializer.Deserialize<FieldValuesViewModel>(fs);
    ViewData["Title"] = FieldValuesVM?.ServiceMenuItemName ?? "Сервисы";
}

<main class="container">
    <div class="container-title">
        <h2 class="container-title">@ViewData["Title"]</h2>
    </div>    
    <div class="separator-line"></div>
    <section class="description-block">
        <details class="detailes">
            <summary>Импортозамещение</summary>
            <p class="article">Текст по импортозамещению</p>
        </details>
        <details class="detailes">
            <summary>Аналитика</summary>
            <p class="article">Текст по аналитике</p>
        </details>
    </section>
</main>
